<html>

<head>

    <title> projects</title>
    <link href="https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Julius+Sans+One&family=M+PLUS+1p:wght@300&family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <meta charset="UTF-8">
    <meta name="description" content="Distributed system">
    <meta name="keywords" content="tea,coffee,flowers, bananas">
    <meta name="author" content="Pashie">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/favicon.png" type="image/x-icon">

    <style>
        .nav_up ul li {
            list-style-type: none;
            display: inline-block;
            position: absolute;
            top: 0;
            margin: 0;
            padding: 20px;
        }
        
        ;
        .nav_up ul li:first-child {
            padding-right: 5%;
        }
    </style>
</head>

<body>
    <div id="top_up">
        <p class="kenya">Kenya, AFRICA </p>
        <p>Welcome to M-Project >> </p>
        <p class="talk"> Talk to us: <span style="color: orange; font-family: roboto;">mproject@gmail.com<span> </p>
    </div>
    <!-- <div class="logo_up"> -->
    <!-- <div class="logo">
	</div> -->
    <div class="nav_up">
        <ul>

            <li><img class="side_image" src="assets/images/mat.jpg" alt="" style="height: 70px; width: 150px;"></li>
            <li>
                <form class="search" action="/searchresults" method="get">
                    <input type="text" id="search" name="search" placeholder="what are you looking for...">
                    <button hidden type="submit">Search</button>
                </form>
            </li>


            <li> <a href="/logout" class="nav1"> Log Out</a></li>

            <li> <a href="/signup" class="nav1">Sign Up</a></li>
            <li><a href="/login" class="nav1"> Log In</a></li>
            <li> <a href="/projects" class="nav1"> Projects</a></li>
            <li> <a href="/" style="color: white"> Go back Home</a></li>
        </ul>
    </div>
    </div>
    <i class="fa fa-search search_icon"></i>
    <!-- <img src="assets/images/sea.png" alt="" class="search_icon" style="height:20px; width:20px;"> -->