<%- include('header') -%>
    <link rel="stylesheet" href="assets/css/styles.css">
    <header>
        <div id="container" style="background-image: url(assets/images/up.jpg);">
            <div class="inside">
                <div class="side">
                    <h4>Categories</h4>
                    <ul class="sidel">
                        <li><a href="/projects">Tea Project</a> </li>
                        <li><a href="/projects"> Coffee Project</a></li>
                        <li><a href="/projects">Bananas Project</a></li>
                        <li><a href="/projects">Beans Project</a></li>
                        <li><a href="/projects"> Maize Project</a></li>
                        <li><a href="/projects"> Potatoes Project</a></li>
                        <li><a href="/projects"> Upcoming Projects</a></li>
                        <li><a href="/projects"> Farm Equipments</a></li>
                    </ul>
                </div>

                <div class="head_text">
                    <h1 class="text-uppercase" style="font-size: 2.7em; letter-spacing: 1.3px; font-family: 'Pontano Sans', sans-serif; color:green; text-transform: uppercase;">
                        get hired <br> for your skills
                    </h1>
                    <p class="pt-10 pb-10 text-white" style="color: rgba(0,0,0,0.7);">
                        We connect individuals with different projects according to their skills <br> to create <b>Fast</b> and <b>
              reliable</b> employment services for all individuals.</p>
                    <a href="/signup" class="primary-btn" style="text-decoration: none;">Become a Member</a>
                </div>
            </div>
        </div>
    </header>
    <!-- end of the header part-->

    <!--main content-->
    <!--side column-->
    <section class="main_content">
        <div class="row" style="margin-top:5%">
            <div class="sidep">
                <a href="/projects" title="Click to view ongoing projects" style="text-decoration: none;">
                    <h4 class="header_a">PROJECTS >></h4>
                </a>

                <div class="fakeimg">
                    <img src="assets/images/tea1.jpg" alt="tea " style="height:170px; width:100%; z-index: -1;">
                    <div class="container"> </div>

                </div>
                <p style="font-family: 'Julius Sans One', sans-serif; color: green; font-size: 1.4em;">Tea Project</p><button style="position: absolute; top:15%;">Learn more</button>
                <p style="margin-top:0%; padding-top: 0%;">Be part of the tea project or other running project </p>
                <h3 style="background-color: rgb(0,100,0); color: white; padding: 10px;">UPCOMING PROJECTS</h3>
                <p>Sign in to view and be part of our new upcoming projects</p>

                <div class="fakeimg">
                    <img src="assets/images/bana.jpg" alt="banana " style="height:130px; width:100%;">
                    <div class="container">
                        <p><span style="font-family: 'Julius Sans One', sans-serif; color: green; font-size:1.2em">horticulture Projects</span> </p>
                        <p>Our new incoming projects in progress</p> <a href="/projects" style="cursor: pointer;">Learn more</a>
                    </div>
                </div><br />
                <h3 style="color: green; padding: 10px; font-family: 'Julius Sans One', sans-serif;">RUNNING PROJECTS</h3>
                <div class="fakeimg">
                    <img src="assets/images/maize.jpg" alt="maize " style="height:150px; width:100%;">
                </div><br />

                <div class="fakeimg">
                    <img src="assets/images/coff.jpeg" alt="coffee " style="height:130px; width:100%;">
                </div><br>
                <div class="fakeimg">
                    <img src="assets/images/coff.jpeg" alt="coffee " style="height:130px; width:100%;">
                </div>

                <div class="sign">
                    <img src="assets/images/join.png" alt="coffee " style="height:150px; width:100%;">

                </div>
            </div>

            <!-- the main right column-->
            <div class="main">

                <h2 style="border-bottom: 4px solid olive; color: orange; padding: 8px; width: 50px; background-color: olive; font-family:oswald; ">
                    M-PROJECT</h2>

                <div class="main_1">
                    <img src="assets/images/smart.jpg" class="image" alt="coffee " style="height:480px; width:100%; background-color:none;">
                    <div class="digital" style="height: 5%;">
                        <p style="font-family: 'Julius Sans One', sans-serif; text-shadow:#000 px 1px 5px;">Pata kazi digitally!!<br>KILA KITU NI DIGITAL-</p>
                    </div>
                    <div class="overlay">
                        <div class="text"> Karibuni sana to <span class="orange" style="color: orange;">M-Project!<br /></span> Communicate your thoughts to us<br> We are all about serving you better.
                            <hr>
                        </div>
                    </div>
                </div>

                <h3 style="color: white; padding: 10px; width:40%; font-family: 'Julius Sans One', sans-serif; background-color: orange;">WHAT IS M-PROJECT ABOUT?</h3>
                <p style="padding: 14px; padding-top: 7px;">Are you a land owner with no knowledge of farming? Are you equipped with agricultural knowledge but lack the land? Are you a good hands-person but have nowhere to work? Are you good at marketing but have no job?<br> Do you have transport
                    services and have nothing to transport.<br> Then this project is best suitable for you!! <br> Our project brings all these together, helps you work together and receive payments instantely after a project is completed<br> Here at
                    <span class="orange" style="color: orange; font-weight: bolder; font-size: 1.2em;">M-project</span> we are all about easing your job searching and maximizing the available resources to create more employment opportunities for all citizens
                </p><br>

                <div class="statement">
                    <h2 style="color: white; background-color:green; padding 10px;">OUR MISSION</h2>
                    <h4 style="  font-family: 'Julius Sans One', sans-serif; padding-bottom: 16px; line-height: 1.7em; text-align: center; border-bottom: 1px dashed green; ">To grow into a sustainable agricultural and food products provider and partner,<br> ensuring supply sufficiency, high quality of farming and production operations,<br> affordability of logistical distribution and protection of the
                        environment
                        <br>and natural resources<br> </h4><br>
                    <h2 style="color: white; background-color: orange; padding 10px;">OUR VISION</h2>
                    <h4 style=" font-family: 'Julius Sans One', sans-serif; padding-bottom: 16px; line-height: 1.7em; text-align: center; border-bottom: 1px dashed green; ">To be the leader in producing and processing agricultural products in Kenya<br> and worldwide by constantly improving our services and quality of our crops,<br> production processes and adding long-term value to our stakeholders and
                        our project members
                    </h4><br>
                    <h2>OUR GOAL</h2>
                    <h4 style=" font-family: 'Julius Sans One', sans-serif; line-height: 1.7em; text-align: center; border-bottom: 1px dashed green; padding-bottom: 16px; ">To improve the agricultural sector by making use of all services and skills available to maximize our production</h4><br><br>
                </div><br><br>

                <div class="mem ">
                    <a href="/signup ">
                        <img src="assets/images/mem1.jpg " alt="become a member " title=" Click here to Join us Today " style="width: 800px; height: 200px; border:0; ">
                    </a>
                </div>
                <button onclick="signup() " class="yes " style="color: white; position: absolute; width:7%; bottom:7%; "> Click here to <strong>Sign Up</strong></button>
            </div>
        </div>

        </div>

    </section>

    <!-- Footer -->
    <footer style="height:30% ">
        <div class="footer "><br>
            <h5 style="color: white; ">Copyright 2020 . All rights reserved</h5>
        </div>
        <div class="link ">
            <h6 style="color: white; "> Reach us on:</h6>
            <a href="# ">
                <img src="assets/images/facebook.png " alt="facebook " title="facebook " style="width: 30px; height: 30px; border:0; ">
            </a>
            <a href="# ">
                <img src="assets/images/google.png " alt="google " title="google " style="width: 20px; height: 20px; border:0; ">
            </a>
            <a href="# ">
                <img src="assets/images/mail.png " alt="google " title="google " style="width: 25px; height: 25px; border:0; ">
            </a>
        </div>
        <div class="contact ">
            <p>Contact Us:</p>
            <p> +254 71234567</p>
            <p> +254 71234567</p>
        </div>

    </footer>
    <%- include('footer') -%>